[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "third_party/nanort"]
	path = third_party/nanort
	url = https://github.com/lighttransport/nanort.git
[submodule "third_party/bvh"]
	path = third_party/bvh
	url = https://github.com/madmann91/bvh.git
